*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family:'Roboto','Arial', 'sans-serif';
    font-weight: 300;
    text-rendering: optimizeLegibility;
}


header{
    background-color: #fae4d6;
    height: 200px;
    margin: 0;
    padding: 60px;
}


.text-box{
    float: left;
}


.arrow{
    display: flex;
    align-items: center;
}


.icon-image{
    width: 30px;
    height: 30px;
}


a{
    color: #000;
    font-weight: 700;
    font-size: 90%;
    margin-left: 15px;
}



h1{
    font-size: 240%;
    color: #000;
    font-weight: 700;
    text-transform: capitalize;
    margin-top: 10px;
}


.icon-box{
    display: inline-block;
}


.icons-big{
    font-size: 90%;
    color: #e7c1a9;
}



.number-box{
    float: right;
}


.number-box p{
    font-weight: 700;
    font-size: 200%;
}


.exposant{
    font: 1rem 'Roboto';
}



.section-fast{
    padding: 60px 0;
}


.row{
    max-width: 1200px;
    margin: 0 auto;
    display: block;
}


.col{
    display: flex;
    padding: 30px;
    border: 1px solid rgba(0, 0, 255, 0.267);
    margin-bottom: 20px;
}


.costomer-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}


.text-block{
    width: 100%;
    padding: 0 5px;
}


.text-block h3{
    font-size: 110%;
    font-weight: 700;
    text-transform: capitalize;
}


.name-box{
    display: flex;
    justify-content: space-between;
}


.name-box svg{
    width: 30px;
    height: 30px;
}


.name{
    margin-bottom: 20px;
}


span{
    font-size: 70%;
    margin-left: 10px;
}


.icons-small{
    font-size: 130%;
    color: #f2a270;
}


.description{
    width: 700px;
}


.description h2{
    font-size: 180%;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: capitalize;
}


.description p{
    line-height: 1.6;
}



.heart-block{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}


.heart{
    display: flex;
    align-items: center;
}


.heart p{
    font-size: 70%;
    font-weight: 700;
}


.icon-img{
    font-size: 150%;
    margin-right: 10px;
}



